@page "/"
@using Models
@using Persistence

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<h1>Adult list</h1>

Here you can view information of every registered adults.

<div>
    <div class="search-container">
       
            <input type = "text" placeholder="Search.." />
            <button type= "submit"><i class="fa fa-search"></i></button>
            
    
        </div>
    <table>
        <tr>
            <th>ID</th>
            <th>First name</th>
            <th>Last Name</th>
            <th>Hair color</th>
            <th>Eye color</th>
            <th>Age</th>
            <th>Weight</th>
            <th>Height</th>
            <th>Sex</th>
            <th>Job title</th>
            <th>Salary</th>
        </tr>

        @foreach (var adult in fileContext.Adults)
{
    <tr>
        <td>@adult.Id</td>
        <td>@adult.FirstName</td>
        <td>@adult.LastName</td>
        <td>@adult.HairColor</td>
        <td>@adult.EyeColor</td>
        <td>@adult.Age</td>
        <td>@adult.Weight</td>
        <td>@adult.Height</td>
        <td>@adult.Sex</td>
        <td>@adult.JobTitle.JobTitle</td>
        <td>@adult.JobTitle.Salary</td>

    </tr>
}
       

    </table>
</div>

@code
{
    private FileContext fileContext = new FileContext();

    public void Search()
    {
        
    }
}
